## Python bytecode
__pycache__/
*.py[cod]
*$py.class

## Virtual environments
.venv/
venv/
ENV/
env/

## Jupyter
.ipynb_checkpoints/

## IDE / OS
.vscode/
.idea/
.DS_Store

## Project outputs / artifacts
output/
artifacts/

## datasets
data/